* {
    box-sizing: border-box;
}

body,
ul,
li,
p {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    color: #fff;
}

ul,
li {
    list-style: none;
}

a {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
}

#canvas {
    position: absolute;
}

.nav {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
    cursor: pointer;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: #20A0FF;
}

.nav-label {
    display: inline-block;
    margin: 0px 30px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.nav-label a {
    display: inline-block;
    padding: 8px 40px;
}

.nav-label:hover {
    background: #00EBC0;
}


/*home component*/

.home {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 100%;
    height: 300px;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.cube {
    width: 100%;
    height: 100%;
    padding: 0;
    transform-origin: 50px 50px;
    transform: rotateX(-33.5deg) rotateY(45deg);
    transform-style: preserve-3d;
    animation: slowSpin 10s ease-in-out infinite 2s;
    margin: -50px 0 0 -50px;
    top: 50%;
    left: 50%
}

.cube,
.cube li {
    position: absolute;
    display: block
}

.cube li {
    width: 75pt;
    height: 75pt;
    transition: transform 1s ease-in-out
}

.cube .back,
.cube .front,
.cube .left,
.cube .right,
.cube .top {
    background: radial-gradient(transparent 30%, rgba(146, 240, 202, 0.2) 100%)
}

.cube li:after {
    content: "";
    display: block;
    position: absolute;
    width: 75pt;
    height: 75pt;
    backface-visibility: hidden;
    background-color: rgba(147, 229, 198, 0.5);
    transition: transform 1s ease-in-out
}

.cube .front {
    transform: translateZ(50px)
}

.cube .back {
    transform: rotateX(-180deg) translateZ(50px)
}

.cube .right {
    transform: rotateY(90deg) translateZ(50px)
}

.cube .left {
    transform: rotateY(-90deg) translateZ(50px)
}

.cube .top {
    transform: rotateX(90deg) translateZ(50px)
}

.cube .top:after {
    background-color: rgba(93, 219, 169, 0.5)
}

.cube .bottom {
    transform: rotateX(-90deg) translateZ(50px)
}

.cube-inner {
    width: 100%;
    height: 100%;
    padding: 0;
    top: 50%;
    left: 50%;
    transform-origin: 25px 25px;
    margin: -25px 0 0 -25px;
    transform: rotateX(-33.5deg) rotateY(45deg);
    transform-style: preserve-3d;
    animation: fastSpin 10s ease-in-out infinite 2s
}

.cube-inner,
.cube-inner li {
    position: absolute;
    display: block
}

.cube-inner li {
    width: 50px;
    height: 50px;
    transition: transform 1s ease-in-out
}

.cube-inner .back,
.cube-inner .front,
.cube-inner .left,
.cube-inner .right,
.cube-inner .top {
    background: radial-gradient(transparent 30%, rgba(214, 236, 14, 0.2) 100%)
}

.cube-inner li:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    backface-visibility: hidden;
    background-color: rgba(164, 238, 36, 0.5);
    transition: transform 1s ease-in-out
}

.cube-inner .front {
    transform: translateZ(25px)
}

.cube-inner .back {
    transform: rotateX(-180deg) translateZ(25px)
}

.cube-inner .right {
    transform: rotateY(90deg) translateZ(25px)
}

.cube-inner .left {
    transform: rotateY(-90deg) translateZ(25px)
}

.cube-inner .top {
    transform: rotateX(90deg) translateZ(25px)
}

.cube-inner .top:after {
    background-color: rgba(221, 236, 57, 0.5)
}

.cube-inner .bottom {
    transform: rotateX(-90deg) translateZ(25px)
}

@keyframes slowSpin {
    0% {
        transform: rotateX(-33.5deg) rotateY(45deg)
    }
    10%,
    to {
        transform: rotateX(-33.5deg) rotateY(225deg)
    }
}

@keyframes fastSpin {
    0% {
        transform: rotateX(-33.5deg) rotateY(45deg)
    }
    10%,
    to {
        transform: rotateX(-33.5deg) rotateY(-315deg)
    }
}

.motto {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}


/*poem component*/

.poem-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.poem-card {
    width: 20%;
    margin: 20px;
    padding: 10px 0;
    background: #F2F2F2;
    color: #000;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}

.poem-card:hover {
    background: #84e6b5
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.author {
    font-size: 18px;
    font-weight: 400;
}

.title:hover {
    color: #f35336;
}

.author:hover {
    color: #ff4e20;
}

.poem-content li:hover {
    color: #ff4c00;
}

.poem-content li:nth-child(2n+1)::after {
    content: '，'
}

.poem-content li:nth-child(2n)::after {
    content: '。'
}


/*photo component*/

#photo_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
    width: 1200px;
    margin: 50px auto;
    overflow-x: hidden;
    overflow-y: auto;
}

#content {
    column-count: 4;
    column-gap: 10px;
}

.pic {
    margin: 20px 10px;
    min-height: 180px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.pic:hover img {
    transform: scale(1.05);
}

.pic img {
    width: 100%;
    padding: 10px;
    transition: all .5s linear;
}


/*modal component*/

.modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .25);
    cursor: pointer;
    z-index: 10;
}

.modal-content {
    width: 60%;
    min-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.prev,
.next {
    position: absolute;
    top: 45%;
    width: 100px;
    height: 100px;
}

.prev {
    left: 5%;
    background: url(/images/previous.png) no-repeat center;
}

.next {
    right: 5%;
    background: url(/images/next.png) no-repeat center;
}